# ISO 文件
iso/

# 快照文件
snapshots/

# 运行时文件
*.qcow2
*.img
qemu.pid
_iso_extract/
floppy.img
xp_modified.iso
xp_install.qcow2
xp_test.qcow2

# 日志
ci_share/run.log

# 保留此目录
!.gitignore
!floppy/
!ci_share/
!setup.sh
!run.sh
