[submodule "wamr"]
	path = deps/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime
	ignore = dirty
[submodule "quickjs"]
	path = deps/quickjs
	url = https://github.com/bellard/quickjs
	ignore = dirty

[submodule "wolfssl"]
	path = deps/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
	ignore = dirty
[submodule "brotli"]
	path = deps/brotli
	url = https://github.com/google/brotli
	ignore = dirty
