[submodule "wamr"]
	path = wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime
[submodule "quickjs"]
	path = quickjs
	url = https://github.com/bellard/quickjs

[submodule "wolfssl"]
	path = wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
