_build/
dist/
*.exe
*.o
*.d
*.a
*.js
*.wasm
*.png
*.tsbuildinfo
*.aot
tools/*.zip
opencode.json
output.png

node_modules/
wamr/build/
wolfssl/build/
wolfssl/lib/
temp/
./quickjs
!vendor/mupdf-wasm/**
vendor/mupdf-wasm/mupdf-wasm.wat