[submodule "wamr"]
	path = wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime
[submodule "quickjs"]
	path = quickjs
	url = https://github.com/bellard/quickjs

[submodule "wolfssl"]
	path = wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "brotli"]
	path = brotli
	url = https://github.com/google/brotli
[submodule "libffi"]
	path = libffi
	url = https://github.com/libffi/libffi
